html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial;
}
body {
    background-color: #1a1f37;
}
.range-container {
	height: 200px;
	width: 75px;
	box-sizing: border-box;
	padding: 10px;
	position: absolute;
	bottom: 15px;
	left: 4px;
}

.range-container .ruler {
	width: 100%;
	height: 100%;
	background: #ff0000; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff0000 0%, #0000ff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ff0000 0%,#0000ff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ff0000 0%,#0000ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#0000ff',GradientType=0 ); /* IE6-9 */
	position: relative;
}

.range-container .ruler-lines {
	border-width: 1px 0 1px 1px;
	border-style: solid;
	border-color: white;
	box-sizing: border-box;
	padding-right: 10px;
}

.range-container .text {
	height: 100%;
	position: relative;
	width: 1%;
}

.range-container .max,
.range-container .min {
	position: absolute;
	left: 70px;
	font-size: 20px;
	display: inline-block;
	white-space: nowrap;
	background-color: white;
	padding: 4px 8px;
	border-radius: 2px;
}

.range-container .max {
	top: -5px;
}

.range-container .min {
	bottom: -6px;
}

#viewport {
    height: 100%;
    width: 100%;
    padding-top: 56px;
    box-sizing: border-box;
    position: relative;
}

#container {
    height: 100%;
    width: 100%;
    position: relative;
    top:0;
    left:0;
}

#logo-gododin {
	width: 269px;
	height: 42px;
	background-image: url('../images/logo-gododin.png');
	position: absolute;
	left: 7px;
	top: 7px;
}

#logo-odin {
	width: 161px;
	height: 38px;
	background-image: url('../images/logo-odin.png');
	position: absolute;
	left: 7px;
	top: 9px;
}

.header {
    height: 56px;
    width: 100%;
    background-color: #efefef;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 0 12px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
	z-index: 99;
}

.header .fields-align {
    float: right;
}

.header .fields {
    display: table-cell;
    vertical-align: middle;
    height: 56px;
}

.header .fields input {
    height: 32px;
    width: 200px;
    padding: 0 8px;
}









#side-menu {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	background-color: #efefef;
	padding: 3px;
	box-sizing: border-box;
	padding-top: 110px;
	display: none;
	font-size: 22px;
}

#side-menu .head {
	height: 48px;
	position: absolute;
	width: 100%;
	top: 62px;
	left: 0;
	line-height: 48px;
	font-weight: bold;
	text-align: center;
}

#side-menu .container {
	position: relative;
	height: 100%;
	width: 100%;
	background-color: white;
	border-width: 1px 0;
	border-style: solid;
	border-color: #ccc;
	box-sizing: border-box;
	overflow-y: auto;
	padding: 6px;
}

.menu {
	width: 300px;
	height: 1000px;
	border: 1px solid red;
	padding: 10px;
}

.menu-item {
	border: 1px solid #ccc;
	box-sizing: border-box;
	padding: 3px;
	border-radius: 2px;
	margin-top: 6px;
}

.menu-item:first-child {
	margin: 0;
}

.menu-item .field,
.menu-item .field .field-label,
.menu-item .field .field-value {
	height: 24px;
	font-size: 14px;
	line-height: 24px;
}

.menu-item .field{
	width: 100%;
	box-sizing: border-box;
	padding-left: 64px;
	position: relative;
	margin-top: 3px;
}

.menu-item .split2 .field {
	width: 50%;
	display: inline-block;
}

.menu-item .field .field-label{
	width: 64px;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #efefef;
	border-radius: 6px 0 0 6px;
	text-align: right;
	box-sizing: border-box;
	padding-right: 6px;
}

.menu-item .field .field-value{
	position: relative;
	width: 100%;
	box-sizing: border-box;
	padding-left: 6px;
	overflow: hidden;
    text-overflow: ellipsis;
}

#load-mask {
	height: 100%;
	width: 100%;
	background-color: rgba(239,239,239,0.7);
	z-index: 8;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

#load-mask .loading {
	height: 64px;
	width: 64px;
	background-image: url('../images/loading.gif');
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -32px;
	margin-top: -32px;
}